.projects-section {
  padding: 4rem 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: start; /* This ensures cards start at the top of their grid cells */
}

.project-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the card takes full height of its grid cell */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.project-image {
  width: 100%;
  height: 500px; /* You can adjust this value as needed */
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-card:hover .project-image img {
  transform: scale(1.1);
}

.project-content {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto; /* This allows scrolling if content is too long */
}

.project-content h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.technologies {
  padding-top: 10px;
  margin-top: auto; /* This will push the technologies to the bottom of the content area */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-tag {
  background-color: rgba(178, 107, 255, 0.2);
  color: #b26bff;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.repo-link {
  display: inline-block;
  margin-top: 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1000;
}

.repo-link:hover {
  color: #b26bff;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}