.project-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: 5px solid rgba(0, 0, 0, 0.241);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the card takes full height of its grid cell */
}

.project-image {
  width: 100%;
  height: 500px; /* You can adjust this value as needed */
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 500px;
  object-fit: cover; /* This will ensure the image covers the area without distortion */
  transition: transform 0.3s ease;
}

.project-card:hover .project-image img {
  transform: scale(1.1); /* Optional: adds a zoom effect on hover */
}

.project-content {
  padding: 1.5rem;
  flex-grow: 1; /* This will make the content area fill the remaining space */
  display: flex;
  flex-direction: column;
}

.project-content h3 {
  margin-bottom: 1rem;
}

.technologies {
  margin-top: auto; /* This will push the technologies to the bottom of the content area */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 10px;
}

.tech-tag {
  background-color: rgba(178, 107, 255, 0.2);
  color: #b26bff;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.8rem;
}

.repo-link {
  display: inline-block;
  margin-top: 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.repo-link:hover {
  color: #b26bff;
}

.projects-grid {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}