.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    padding: 80px 0 40px; /* Adjust the bottom padding to match your new footer height */
    min-height: calc(100vh - 120px); /* Adjust this value based on your new header and footer heights */
  }